// =============================== Input Devices ==============================
// This config is in the KDL format: https://kdl.dev
// Input device configuration.
input {
    keyboard {
        xkb {
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        tap
        drag-lock
        scroll-factor horizontal=0.2 vertical=0.2
    }

    mouse {
    }

    trackpoint {
    }
    focus-follows-mouse
}

// ================================ Appearance ================================
layout {
    gaps 4
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 1.0; }

    // You can change how the focus ring looks (active border).
    focus-ring {
        width 2

        // Color of the ring on the active monitor.
        active-color "#3355bb"
        // Only on other minitors.
        inactive-color "#505050"
    }

    // Struts shrink the area occupied by windows
    struts {
        // left 10
        // right 10
        // top 10
        // bottom 10
    }
}

// ================================ Startup ===================================

// choose random wallpaper
spawn-at-startup "~/.scripts/random_wallpaper.sh"
spawn-at-startup "clipse" "-listen"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"

// remove title bars
prefer-no-csd

// ============================= Window Rules =================================

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id="zen" title="^Picture-in-Picture$"
    open-floating true
}

// open spotify in its own workspace
window-rule {
    match app-id="spotify"
    open-on-workspace "spotify"
}

// open clipse clipboard manager floating and set its size
window-rule {
    match app-id="com.example.clipse"
    open-floating true
    default-column-width { fixed 622; }
    default-window-height { fixed 652; }
}

// float bitwarden window
window-rule {
    match app-id="zen" title="Extension: (Bitwarden Password Manager) - Bitwarden — Zen Browser"
    open-floating true
}

// enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// ============================= Key Bindings =================================

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // terminal, app launcher, screen locker, clipboard
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn-sh "pkill fuzzel || fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+V hotkey-overlay-title="Open Clipboard Manager: clipse" { spawn "kitty" "--class=com.example.clipse" "-e" "clipse"; }

    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0 && ~/.scripts/display_volume.sh";
    }
    Shift+XF86AudioRaiseVolume allow-when-locked=false {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ && ~/.scripts/display_volume.sh";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02- && ~/.scripts/display_volume.sh";
    }
    XF86AudioMute        allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && ~/.scripts/display_volume.sh";
    }
    Pause                allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // media keys mapping using playerctl.
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }

    // brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set 5%+ && ~/.scripts/display_brightness.sh";
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set 5%- && ~/.scripts/display_brightness.sh";
    }
    // finer adjustment brightness
    Mod+XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set 1%+ && ~/.scripts/display_brightness.sh";
    }
    Mod+XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "brightnessctl --class=backlight set 1%- && ~/.scripts/display_brightness.sh";
    }

    // reload waybar
    Mod+Shift+R { spawn "systemctl" "--user" "restart" "waybar.service" "battery-alert.service" "swayidle.service" "mako.service"; }

    // a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    Mod+Shift+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // for moving floating windows across workspaces
    Mod+Ctrl+K     { move-window-to-workspace-up; }
    Mod+Ctrl+J     { move-window-to-workspace-down; }

    Mod+Shift+U     { move-workspace-up; }
    Mod+Shift+D     { move-workspace-down; }

    // You can refer to workspaces by index
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Space             { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    // Screenshot without saving to disk
    Mod+S { spawn "niri" "msg" "action" "screenshot" "--show-pointer=false" "--path=null"; }
    // Screenshot with saving to disk
    Mod+Shift+S { screenshot show-pointer=false; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
