# Execute your favorite apps at launch
# exec-once = waybar & hyprpaper & firefox
exec-once = waybar & hyprpaper & copyq
{{- if eq .chezmoi.hostname "archlinux" }}
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}
