# Execute your favorite apps at launch
# exec-once = waybar & hyprpaper & firefox
exec-once = waybar & hyprpaper
# exec-once = wl-paste --watch cliphist store
exec-once = clipse -listen
{{- if eq .chezmoi.hostname "archlinux" }}

# polkit authentication agent
exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}
{{- if eq .chezmoi.hostname "archlinux" }}

# gpu replay recorder
exec-once = ~/.config/hypr/scripts/gpu-screen-recorder/start-replay.sh
{{- end }}
