[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 60 'niri msg action power-off-monitors' timeout 120 'swaylock -f' timeout 300 'systemctl suspend' before-sleep 'swaylock -f'
Restart=on-failure
